@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-family: 'Sora', sans-serif;
    background-color: #f2f2f9;
    /* background-color: #52525A; */
}

:root{
    --primary-color: #18181B;
    --secondary-color: #52525A;
    --card-background: #FFFFFF;
}
body{
    max-width: 1400px;
    /* max-width: 100vw; */
    /* min-height: 445px; */
    /* border: 5px solid tomato; */
}
.banner-section{
    /* border: 3px solid brown; */
    max-width: 100%; /*means it's max-width is body's max-width*/
    display: flex;
    /* flex-wrap: wrap; */
    margin: 95px 50px;
}

/* section-lft start */
.section-lft .icon{
    /* border: 2px solid brown; */
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    background-color: #F5C044;
    position: relative; 
    margin-bottom: 20px;
}
.section-lft .icon > p{
   /* border: 3px solid orange; */
    /* background-color: rgba(245, 192, 68, .5); */
    background-color: #F5C044;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    translate: 60% 20%;   
    position: absolute;   
      
}

/* heading section start */
.banner-section .section-lft{
    width: 50%;
    /* border: 2px solid aqua; */
    /* flex-basis: 100%; */
}
.section-lft .heading-section h1{
    font-size: 2.25rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.section-lft .heading-section p{
    font-size: 1.25rem;
    color: var(--secondary-color);
    margin-bottom: 40px
}
/* heading section end */
/* list-items start */
.section-lft .list-items .list li{
    font-size: 0.875rem;
    display: flex;
    color: var(--secondary-color);
}
/* list-items end */
/* section-lft end */

/* section-right start */
/* common styles stared */
.banner-section .section-rgt{
    /* border: 3px solid blue; */
    width: 50%;
    padding-left: 30px;
    /* flex-basis: 100%; */
}
.banner-section .section-rgt .card{
    /* background-color: var(--card-background); */
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    /* border: 3px solid red; */
}
.banner-section .section-rgt *{
    background-color: var(--card-background);
}
.section-rgt .card .image-container{
    display: flex;
    /* border: 2px solid aqua; */
    gap: 20px;
    flex-wrap: wrap;
}
.section-rgt .card .image-container .google-img{
    width: 30%;
}
.section-rgt .card .image-container .google-img img{
    width: 100%;
    /* border: 2px solid blue; */
    vertical-align: middle;
}
#star{
    /* border: 3px solid rgb(110, 64, 7); */
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.section-rgt p{
    font-size: 1rem;
}
/* common styles end */

.section-rgt .card-google{
    margin-left: 30%;
    margin-bottom: 20px;
}
/* section-right end */
